.rooms.clearfix
    .rooms-list.pull-left
        %h1 Belvedere Hotel - Rooms &amp; Suites
        .wrapper
            .content
                .scrollable
                    %ul.nav.nav-tabs.nav-stacked
                        - @rooms.each_with_index do |room, i|
                            %li
                                = link_to room.title, "#descr_#{i}", class: "collapse-link#{' active' if i == 0}", id: "link_#{i}", data: {gal: "#gallery#{i}"}
                                .collapsible{id: "descr_#{i}"}= room.description.html_safe
    .image-gallery.pull-right.clearfix
        - @rooms.each_with_index do |room, i|
            .gallery.pull-left{id: "gallery#{i}", class: "#{'visible' if i == 0} #{'carousel' if i == 0 && room.photos.length > 1}"}
                .carousel-inner
                    - if room.photos.blank?
                        .item.active
                            = image_tag 'missing.png', size: '600x380'
                    - else
                        - room.photos.each_with_index do |photo, j|
                            - photo = photo.decorate
                            .item{class: "#{'active' if j==0}"}
                                = link_to photo.photo_path(:original), class: 'fancybox', rel: "gallery#{i}" do
                                    = image_tag photo.photo_path(:original), size: '600x380', data: {width: photo.photo_geometry(:original).width, height: photo.decorate.photo_geometry(:original).height}
                - if room.photos.length > 1
                    = link_to '', "#gallery#{i}", data: {slide: 'prev'}, class: 'carousel-control left fa-chevron-left'
                    = link_to '', "#gallery#{i}", data: {slide: 'next'}, class: 'carousel-control right fa-chevron-right'
