- title 'News & Offers'
.articles{class: "#{'paginated' if @articles.total_pages > 1}"}
    %h1 Belvedere Hotel - News
    .wrapper.clearfix
        - @articles.each do |article|
            .article
                .article-section
                    .article-section-wrap
                        = link_to article, class: 'title clearfix' do
                            %h2.pull-left= article.title
                            %h3.pull-right.fa-calendar= article.created_at.strftime('%A, %d %b %Y, %H:%M %P')
                .article-section
                    .article-section-wrap
                        .content
                            = sanitize(article.description, :tags => []).truncate(1000)
    
    = paginate @articles
