- title 'News & Offers'
.articles{class: "#{'paginated' if @articles.total_pages > 1}"}
    %h1 Belvedere Hotel - News &amp; Offers
    .wrapper.clearfix
        - @articles.each do |article|
            .article
                = link_to article, class: 'title clearfix' do
                    %h2.pull-left= article.title
                    %h3.pull-right.fa-calendar= article.created_at.strftime('%A, %d %b %Y, %H:%M %P')
                .content= sanitize(article.description, :tags => []).truncate(1000)
    
    = paginate @articles
