#top-menu{class: "#{'location' if params[:controller]=='pages' && params[:action]=='location'}"}
    .content.clearfix
        = link_to root_url do
            = image_tag "logo.png", alt: 'Hotel Belvedere - Logo'
        
        .language-options
            = link_to "English", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'en') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'en'}"
            = link_to "Ελληνικά", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'el') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'el'}"
            = link_to "Deutsch", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'de') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'de'}"
            = link_to "Français", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'fr') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'fr'}"
            = link_to "Español", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'es') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'es'}"
            = link_to "Italiano", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'it') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'it'}"
            = link_to "Русский", "#{request.url.split('/').each_with_index.map{ |el, i| i==3 ? el.gsub(I18n.locale.to_s, 'ru') : el }.join('/')}", class: "#{'active' if I18n.locale.to_s == 'ru'}"
        
        .menu-options
            = link_to t('shared.hotel'), about_url, class: "#{params[:controller]=='pages' && params[:action]=='about' ? 'active' : ''}"
            = link_to t('shared.accommodation'), accommodation_url, class: "#{params[:controller]=='suites' ? 'active' : ''}"
            = link_to t('shared.services'), services_url, class: "#{params[:controller]=='services' ? 'active' : ''}"
            = link_to t('shared.location'), location_url, class: "#{params[:controller]=='pages' && params[:action]=='location' ? 'active' : ''}"
            = link_to t('shared.news'), articles_url, class: "#{params[:controller]=='articles' ? 'active' : ''}"
