- title t('about.title')
.about
    .wrapper
        .content
            .scrollable
                %h1 Hotel Belvedere
                %h2.title= t('about.address')
                %h2= t('about.address_detail')
                %h2.title= t('about.postal')
                %h2 37002
                %h2.title= t('about.phone')
                %h2 (+30)2427021490
                %h2.title= t('about.phone_off')
                %h2 (+30)2431055184
                %h2.title= t('about.fax')
                %h2 (+30)2427021409
                %h2.title Email
                %h2 info@belvederehotel.gr