- title 'Contact Us'
.contact
    .formwrapper.pull-left
        = form_tag send_mail_path, method: 'POST', :class => 'contactform clearfix' do
            .scrollable
                %h1 Contact Us
                
                .name.fa-user= text_field_tag :name, nil, required: true,
                    pattern: "#{form_field_attr('name', 2, 100)[:regex]}",
                    minlength: 2, maxlength: 100,
                    placeholder: 'Name',
                    title: "#{form_field_attr('name', 2, 100)[:title]}",
                    'x-moz-errormessage' => "#{form_field_attr('name', 2, 100)[:moz_error]}"
                    
                .email.fa-envelope= email_field_tag :email, nil, required: true,
                    pattern: "#{form_field_attr('email')[:regex]}",
                    minlength: 6, maxlength: 100,
                    placeholder: 'Email',
                    title: "#{form_field_attr('email')[:title]}",
                    'x-moz-errormessage' => "#{form_field_attr('email')[:moz_error]}"
                    
                .message.fa-pencil= text_area_tag :comment, nil, required: true,
                    pattern: "#{form_field_attr('contact', 6, 300)[:regex]}",
                    minlength: 6, maxlength: 300,
                    placeholder: 'Send us your message',
                    title: "#{form_field_attr('contact', 6, 300)[:title]}",
                    'x-moz-errormessage' => "#{form_field_attr('contact', 6, 300)[:moz_error]}"
                    
                = submit_tag 'Send us your message', :class => 'btn btn-warning btn-lg pull-right'

    #contact-errors.alert.alert-danger.pull-left{style: 'display: none;'}
        Before you submit your message, please see that the following errors are corrected:
        %ul
            %li{id: 'name-error', style: 'display: none;'}= form_field_attr('name', 2, 100)[:generic]
            %li{id: 'email-error', style: 'display: none;'}= form_field_attr('email')[:generic]
            %li{id: 'comment-error', style: 'display: none;'}= form_field_attr('contact', 6, 300)[:generic]
