.home
    .formwrapper
        = form_tag send_mail_path, method: 'POST', :class => 'reservationform clearfix' do
            .scrollable
                %h1 Request a room
                .name.fa-user= text_field_tag :name, nil, required: true, pattern: '^(?!\s*$).{2,100}$', minlength: 2, maxlength: 100, placeholder: 'Name', title: 'Your name must not be blank.', 'x-moz-errormessage' => 'Your name must not be blank.'
                .email.fa-envelope= email_field_tag :email, nil, required: true, pattern: '([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})', placeholder: 'Email', title: 'name@domain.com (correct e-mail structure)', 'x-moz-errormessage' => 'name@domain.com (correct e-mail structure)'
                .phone.fa-phone.left= telephone_field_tag :phone, nil, placeholder: 'Phone Number', title: 'You can provide a phone number for direct contact.'
                .mobile.fa-mobile.right= telephone_field_tag :mobile, nil, placeholder: 'Mobile Phone', title: 'You can provide a mobile phone number for direct contact.'
                .arrival.fa-calendar.left= text_field_tag :arrival, nil, required: true, data: {provide: 'datepicker'}, placeholder: 'Arrival', title: 'Please specify the date of your arrival.', 'x-moz-errormessage' => 'Please specify the date of your arrival.'
                .departure.fa-calendar.right= text_field_tag :departure, nil, required: true, data: {provide: 'datepicker'}, placeholder: 'Departure', title: 'Please specify the date of your departure.', 'x-moz-errormessage' => 'Please specify the date of your departure.'
                .adults.fa-male.left= number_field_tag :adults, nil, required: true, min: 1, max: 19, data: {type: 'numeric'}, placeholder: 'Adults', title: 'You must specify a valid number of adults for your reservation.', 'x-moz-errormessage' => 'You must specify a valid number of adults for your reservation.'
                .children.fa-users.right= number_field_tag :children, nil, min: 0, max: 19, data: {type: 'numeric'}, placeholder: 'Children', title: 'You must specify a valid number of children for your reservation.'
                .message.fa-pencil= text_area_tag :message, nil, pattern: '^(?!\s*$).{6,300}$', minlength: 6, maxlength: 300, placeholder: 'Send us your message', title: 'You can provide a comprehensible optional message with extra details about your reservation.', 'x-moz-errormessage' => 'You must provide a comprehensible message.'
                = submit_tag 'Send your request', :class => 'btn btn-warning btn-lg pull-right'
