!!! html
%html
    %head
        %meta{charset: 'utf-8'}
        = render 'shared/meta_tags'
        %title= content_for(:title) || 'Belvedere Hotel'
        = stylesheet_link_tag "application"
        = javascript_include_tag "application"

    %body{style: 'overflow: hidden;'}
        :javascript
            jQuery(function() {
                window.$M = new (BelvedereGit.#{params[:controller]} || BelvedereGit.Base)(#{@bootstrap_data});
                if (typeof $M['#{params[:action]}'] === 'function') {
                    return $M['#{params[:action]}'].call();
                }
            });

        = render 'shared/breadcrumbs'

        = render 'shared/share_links'

        = render 'shared/bg_carousel'

        #page-wrapper

            #page-content
                = render 'shared/top_menu'

                #page-body
                    = yield

                = render 'shared/bottom_menu'
