!!! html
%html
    %head
        %title BelvedereGit
        = stylesheet_link_tag "application"
        = javascript_include_tag "application"

    %body
        = link_to "home", root_url
        = link_to "about", about_url
        = yield
