!!! html
%html
    %head
        = render 'shared/meta_tags'
        %title= content_for(:title) || 'Belvedere Hotel'
        = stylesheet_link_tag "application"
        = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false", "data-turbolinks-track" => true
        = javascript_include_tag "application"

    %body
        :javascript
            jQuery(function() {
                window.$M = new (BelvedereGit.#{params[:controller]} || BelvedereGit.Base)(#{@bootstrap_data});
                if (typeof $M['#{params[:action]}'] === 'function') {
                    return $M['#{params[:action]}'].call();
                }
            });
        
        = render 'shared/breadcrumbs'
        
        .location-container
        
            = render 'shared/top_menu'
            
            = yield
            
            = render 'shared/bottom_menu'
        
        = render 'shared/share_links'
